body {
    margin:0;
    padding:0;
    background-color: rgb(224, 224, 224);
}



.header {
    height: 57px;
    border-bottom: 1px solid rgb(200,200,200);
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    display:flex;
    justify-content:space-between;
    align-items:center;
}





.left-section {
    width: 300px;
    height:56px;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.middle-section {
    width: 400px;
    height:56px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-right:80px;
}
.right-section {
    width: 200px;
    height:56px;
    display:flex;
    align-items:center;
    justify-content:end;
    margin-right:25px;
}

.title {
    font-size:40px;
    font-family: roboto, arial;
    font-weight:500;
}
.hamburger-menu {
    height:40px;
    margin-left:15px;
    cursor:pointer;
}
.company-logo {
    height:50px;
    margin-left:15px;
    cursor:pointer;
}
.title-heathrow {
   font-family: roboto, arial;
   font-size: 30px;

}
.sidebar {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width:72px;
    margin-top:57px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    padding-top:72px;
}
.sidebar-square {
    height:100px;
    font-family: roboto, arial;
    width:72px;
    text-align:center;
    height:72px;
    color: black;
    text-decoration: none;
    cursor:pointer;
}
.sidebar-square:hover {
    background-color: rgb(240,240,240);
}
.sidebar-image {
    width:40px;
}
#youtube-apps-filled {
    width:30px !important;
    padding-top:10px;
}
#home-unfilled {
    width:30px !important;
    padding-top:10px;
}



.call-to-action {
    font-size: 50px;
    font-family: roboto, arial;
    font-weight: 400;
    margin-top:100px;
    border-radius: 2px;
    display:flex;
    justify-content:center;
}
.description {
    font-family: roboto, arial;
    font-size: 20px;
    display:flex;
    justify-content:center;
}
.praying-image {
    display:flex;
    justify-content:center;
    margin-top:40px;
    height:300px;
}
.footer {
    margin-top:100px;
    display:flex;
    justify-content:center;
}
.contacting {
    display:flex;
    justify-content:center;
    background-color: rgb(133,133,183);
    border-radius:30px;
 
}
.contact-description {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
    left:30px;
    top:20px;
    font-family: roboto, arial;
    font-size: 20px;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    border-radius:10px;
    height:40px;
}
.contacting-buttons {
    width:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:end;
}
.twitter,
.facebook,
.instagram {
    margin-bottom:8px;
    margin-right:20px;
    margin-top:8px;
}
.contact-button {
    background-color:transparent;
    font-size:20px;
    font-family: roboto, arial;
    border:none;
    cursor:pointer;
}
.contact-description:hover {
    box-shadow: 2px 2px 4px rgb(100,100,100);
}
.twitter {
    background-color: rgb(29, 155, 240);
    color:white;
    border:none;
    height:36px;
    width:74px;
    border-radius:18px;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    margin-left:8px;
    transition: box-shadow 0.15s;
    vertical-align:top;
}

.twitter:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

}
.facebook {
    background: #3b5998;
    color: white;
    padding: 2px 18px 3px 18px;
    transition: opacity 0.15s;
    cursor:pointer;
    border:none;
    width:74px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.facebook:hover {
    opacity:0.7;
}
.instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    font-family: roboto, arial;

    border:none;
    font-weight:500;
    transition: opacity 0.15s;
    width:74px;
}
.instagram:hover {
    opacity: 0.7;
}

.rules-title {
 
    font-size:60px;
    font-family: roboto, arial;
    font-weight:500;
    margin-left:30px;
}
.list {
    font-family: roboto, arial;
    
    font-size: 27px;
    line-height:50px;
  

 
  

}
.rules {
    margin-top: 67px;
    margin-left: 82px;
}
.image {
    width:500px;
    position:absolute;
    right:25%;
    top:19%;
}
